.error {
  color: red;
  font-weight: bold;
}
/* Message list styling */

.person {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.person-container {
  padding-left: 40px;
}

.message-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}

.message {
  border-radius: 25px;
}

/* New message styling */

.newMessageStyle {
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}