body {
  background-color: lightblue;
  font-family: 'Amatic SC', cursive;
}
h1 {
  font-family: 'Quattrocento Sans', sans-serif;
}

.title{
  text-align: center;
}
.title p {
  font-style: italic;
}

.error {
  color: red;
  font-weight: bold;
}

.waiting{
  width: 40%;
  height: auto;
  opacity: 0.3;
  margin: auto;
  padding: auto;
  position: center;
}

.person {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.person-container {
  padding-left: 40px;
  padding-right: 40px;
}

.message-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
  align-items: center;
}

.message {
  border-radius: 25px;
}

.name {
  text-align: center;
}

button {
  background-color: #008CBA;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  border: none;
}


/* new message */


.message-image{
  border-radius: 25px;
  background-color: white;
  margin-bottom: 65px;
}



.person-photo{
  border-radius: 50%;
  background: white;
  width: 300px;
  height: 300px;
  margin: 10px 20px 20px 20px;
}

.select-list{
  margin-top: 20px;
  margin-bottom: 20px;
}

.newMessageStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 5px;
  align-items: center;
}

.input-image {
  margin-bottom: 20px;
}

.url {
  width: 300px;
}

.sender {
  margin-right: 100px;
}

.btn{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
   margin-top: 100px;
}

.add-message {
  margin-left: 1000px;
}